In [30]:
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine, inspect

In [5]:
##################################Set up files location and names
path='./Resources'

broad_category_db='capgpo.csv'
locality_db='catemlde20.csv'
mortality_cause_db='catminde.csv'
main_db='defun20.csv'
mex_broad_category_db = 'gpolimex.csv'
mex_mortality_cause_db = 'lista1.csv'
category_detail_db = 'listamex.csv'
relationship_db = 'parentesco.csv'

In [6]:
os.chdir(path)

In [7]:
#############################  data handling ################################################
broad_category = pd.read_csv(broad_category_db)

broad_category.drop(broad_category.columns[[0]], axis=1, inplace=True)
broad_category.head()

   CONSE  CAP  GPO                                          DESCRIP
0      1    1  NaN  Ciertas enfermedades infecciosas y parasitarias
1      2    1  1.0  Enfermedades infecciosas intestinales (A00-A09)
2      3    1  2.0                          Tuberculosis  (A15-A19)
3      4    1  3.0           Ciertas zoonosis bacterianas (A20-A28)
4      5    1  4.0         Otras enfermedades bacterianas (A30-A49)

In [8]:
locality = pd.read_csv(locality_db)

locality.drop(locality.columns[[0]], axis=1, inplace=True)
locality.head()

   CVE_ENT  CVE_MUN  CVE_LOC                 NOM_LOC
0        1        0        0          Aguascalientes
1        1        1        0          Aguascalientes
2        1        1        1          Aguascalientes
3        1        1      106                Arellano
4        1        1      120  Buenavista de Peñuelas

In [9]:
mortality_cause = pd.read_csv(mortality_cause_db)
mortality_cause.drop(mortality_cause.columns[[0]], axis=1, inplace=True)
mortality_cause.head()

    CVE                                         DESCRIP
0  A010                                 Fiebre tifoidea
1  A012                           Fiebre paratifoidea B
2  A020                   Enteritis debida a Salmonella
3  A021                      Sepsis debida a Salmonella
4  A029  Infección debida a Salmonella, no especificada

In [10]:
main = pd.read_csv(main_db)

main.drop(main.columns[[0]], axis=1, inplace=True)
main.head()

,ENT_REGIS,MUN_REGIS,ENT_RESID,MUN_RESID,TLOC_RESID,LOC_RESID,ENT_OCURR,MUN_OCURR,TLOC_OCURR,LOC_OCURR,...,ANIO_CERT,MATERNAS,LENGUA,COND_ACT,PAR_AGRE,ENT_OCULES,MUN_OCULES,LOC_OCULES,RAZON_M,DIS_RE_OAX
0,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,2,9,88,88,888,8888,NaN,999
1,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,9,9,88,88,888,8888,NaN,999
2,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,2,2,88,88,888,8888,NaN,999
3,1,1,1,1,15,1,1,1,15,1,...,2020,NaN,9,9,88,88,888,8888,NaN,999
4,1,6,1,9,4,1,1,9,4,1,...,2020,NaN,2,1,88,88,888,8888,NaN,999

In [11]:
mex_broad_category = pd.read_csv(mex_broad_category_db)

mex_broad_category.drop(mex_broad_category.columns[[0]], axis=1, inplace=True)
mex_broad_category.head()

  VALOR                                         DESCRIPCIO
0    01              ENFERMEDADES INFECCIOSAS INTESTINALES
1    02                                       TUBERCULOSIS
2    03                     OTRAS ENFERMEDADES BACTERIANAS
3    04  INFECCIONES CON MODO DE TRANSMISION PREDOMINAN...
4    05  OTRAS ENFERMEDADES INFECCIOSAS Y PARASITARIAS ...

In [12]:
mex_mortality_cause= pd.read_csv(mex_mortality_cause_db)

mex_mortality_cause.drop(mex_mortality_cause.columns[[0]], axis=1, inplace=True)
mex_mortality_cause.head()

   CVE                                            DESCRIP
0    1  001 Ciertas  enfermedades infecciosas  y paras...
1    2                                         002 Cólera
2    3  003 Diarrea y gastroenteritis de presunto orig...
3    4    004 Otras enfermedades infecciosas intestinales
4    5                      005 Tuberculosis respiratoria

In [13]:
category_detail= pd.read_csv(category_detail_db)

category_detail.drop(category_detail.columns[[0]], axis=1, inplace=True)
category_detail.head()

   CVE                                DESCRIP
0   01  Enfermedades infecciosas intestinales
1  01A                                 Cólera
2  01B                        Fiebre tifoidea
3  01C                    Fiebre paratifoidea
4  01D                             Shigelosis

In [14]:
relationship= pd.read_csv(relationship_db)

relationship.drop(relationship.columns[[0]], axis=1, inplace=True)
relationship.head()

   CLAVE  DESCRIP
0      1    Padre
1      2    Madre
2      3  Hermano
3      4  Hermana
4      5     Hijo

In [15]:
engine = create_engine('sqlite:///Mortality_causes.sqlite', echo=True)
sqlite_connection = engine.connect()

In [17]:
sqlite_table = "main"
main.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:09:19,501 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("main")
2022-07-19 19:09:19,502 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:09:19,504 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("main")
2022-07-19 19:09:19,505 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:09:19,512 INFO sqlalchemy.engine.Engine
CREATE TABLE main (
	"index" BIGINT,
	"ENT_REGIS" BIGINT,
	"MUN_REGIS" BIGINT,
	"ENT_RESID" BIGINT,
	"MUN_RESID" BIGINT,
	"TLOC_RESID" BIGINT,
	"LOC_RESID" BIGINT,
	"ENT_OCURR" BIGINT,
	"MUN_OCURR" BIGINT,
	"TLOC_OCURR" BIGINT,
	"LOC_OCURR" BIGINT,
	"CAUSA_DEF" TEXT,
	"LISTA_MEX" TEXT,
	"SEXO" BIGINT,
	"EDAD" BIGINT,
	"DIA_OCURR" BIGINT,
	"MES_OCURR" BIGINT,
	"ANIO_OCUR" BIGINT,
	"DIA_REGIS" BIGINT,
	"MES_REGIS" BIGINT,
	"ANIO_REGIS" BIGINT,
	"DIA_NACIM" BIGINT,
	"MES_NACIM" BIGINT,
	"ANIO_NACIM" BIGINT,
	"OCUPACION" BIGINT,
	"ESCOLARIDA" BIGINT,
	"EDO_CIVIL" BIGINT,
	"PRESUNTO" BIGINT,
	"OCURR_TRAB" BIGINT,
	"LUGAR_OCUR" BIGINT,
	"NECROPSIA" BIGINT,
	"ASIST_MEDI" BIGINT,
	"SITIO_OCUR" BIGINT,
	"COND_CERT" BIGINT,
	"NACIONALID" BIGINT,
	"DERECHOHAB" BIGINT,
	"EMBARAZO" BIGINT,
	"REL_EMBA" BIGINT,
	"HORAS" BIGINT,
	"MINUTOS" BIGINT,
	"CAPITULO" BIGINT,
	"GRUPO" BIGINT,
	"LISTA1" BIGINT,
	"GR_LISMEX" TEXT,
	"VIO_FAMI" BIGINT,
	"AREA_UR" BIGINT,
	"EDAD_AGRU" BIGINT,
	"COMPLICARO" BIGINT,
	"DIA_CERT" BIGINT,
	"MES_CERT" BIGINT,
	"ANIO_CERT" BIGINT,
	"MATERNAS" TEXT,
	"LENGUA" BIGINT,
	"COND_ACT" BIGINT,
	"PAR_AGRE" BIGINT,
	"ENT_OCULES" BIGINT,
	"MUN_OCULES" BIGINT,
	"LOC_OCULES" BIGINT,
	"RAZON_M" FLOAT,
	"DIS_RE_OAX" BIGINT
)


2022-07-19 19:09:19,513 INFO sqlalchemy.engine.Engine [no key 0.00103s] ()
2022-07-19 19:09:19,521 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:09:19,522 INFO sqlalchemy.engine.Engine CREATE INDEX ix_main_index ON main ("index")
2022-07-19 19:09:19,524 INFO sqlalchemy.engine.Engine [no key 0.00120s] ()
2022-07-19 19:09:19,531 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:22,302 INFO sqlalchemy.engine.Engine INSERT INTO main ("index", "ENT_REGIS", "MUN_REGIS", "ENT_RESID", "MUN_RESID", "TLOC_RESID", "LOC_RESID", "ENT_OCURR", "MUN_OCURR", "TLOC_OCURR", "LOC_OCURR", "CAUSA_DEF", "LISTA_MEX", "SEXO", "EDAD", "DIA_OCURR", "MES_OCURR", "ANIO_OCUR", "DIA_REGIS", "MES_REGIS", "ANIO_REGIS", "DIA_NACIM", "MES_NACIM", "ANIO_NACIM", "OCUPACION", "ESCOLARIDA", "EDO_CIVIL", "PRESUNTO", "OCURR_TRAB", "LUGAR_OCUR", "NECROPSIA", "ASIST_MEDI", "SITIO_OCUR", "COND_CERT", "NACIONALID", "DERECHOHAB", "EMBARAZO", "REL_EMBA", "HORAS", "MINUTOS", "CAPITULO", "GRUPO", "LISTA1", "GR_LISMEX", "VIO_FAMI", "AREA_UR", "EDAD_AGRU", "COMPLICARO", "DIA_CERT", "MES_CERT", "ANIO_CERT", "MATERNAS", "LENGUA", "COND_ACT", "PAR_AGRE", "ENT_OCULES", "MUN_OCULES", "LOC_OCULES", "RAZON_M", "DIS_RE_OAX") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2022-07-19 19:10:22,311 INFO sqlalchemy.engine.Engine [generated in 48.04891s] ((0, 1, 1, 1, 1, 15, 1, 1, 1, 15, 1, 'J441', '33G', 2, 4074, 25, 11, 2016, 16, 1, 2020, 31, 3, 1942, 99, 3, 5, 8, 8, 88, 2, 1, 11, 3, 1, 3, 8, 8, 8, 15, 10, 5, 76, '33', 8, 1, 19, 8, 99, 1, 2020, None, 2, 9, 88, 88, 888, 8888, None, 999), (1, 1, 1, 1, 1, 15, 1, 1, 1, 15, 1, 'K566', '35I', 2, 4087, 7, 2, 2016, 23, 11, 2020, 19, 3, 1928, 99, 1, 3, 8, 8, 88, 9, 1, 1, 3, 1, 99, 8, 8, 17, 50, 11, 6, 81, '35', 8, 1, 22, 8, 99, 11, 2020, None, 9, 9, 88, 88, 888, 8888, None, 999), (2, 1, 1, 1, 1, 15, 1, 1, 1, 15, 1, 'I120', '27Z', 2, 4062, 18, 5, 2011, 17, 3, 2020, 17, 2, 1949, 11, 4, 5, 8, 8, 88, 2, 1, 3, 1, 1, 2, 8, 8, 14, 15, 9, 3, 66, '27', 8, 1, 17, 8, 99, 3, 2020, None, 2, 2, 88, 88, 888, 8888, None, 999), (3, 1, 1, 1, 1, 15, 1, 1, 1, 15, 1, 'J869', '33Z', 1, 4080, 27, 1, 2017, 3, 9, 2020, 9, 3, 1936, 99, 1, 3, 8, 8, 88, 9, 9, 11, 3, 1, 7, 8, 8, 7, 30, 10, 8, 77, '33', 8, 1, 21, 8, 99, 9, 2020, None, 9, 9, 88, 88, 888, 8888, None, 999), (4, 1, 6, 1, 9, 4, 1, 1, 9, 4, 1, 'I709', '31A', 1, 4078, 14, 2, 2018, 27, 10, 2020, 21, 10, 1939, 6, 4, 5, 8, 8, 88, 9, 1, 11, 3, 1, 7, 8, 8, 16, 20, 9, 8, 70, '31', 8, 1, 20, 8, 99, 10, 2020, None, 2, 1, 88, 88, 888, 8888, None, 999), (5, 1, 1, 1, 1, 15, 1, 1, 1, 15, 1, 'U071', '06T', 1, 4058, 26, 10, 2020, 29, 10, 2020, 12, 4, 1962, 4, 4, 5, 8, 8, 88, 2, 1, 1, 3, 1, 1, 8, 8, 10, 30, 22, 1, 903, '06', 8, 1, 16, 8, 26, 10, 2020, None, 2, 1, 88, 88, 888, 8888, None, 999), (6, 1, 1, 1, 1, 15, 1, 1, 1, 15, 1, 'E149', '20D', 2, 4064, 18, 9, 2014, 99, 10, 2020, 6, 7, 1950, 11, 4, 5, 8, 8, 88, 2, 1, 3, 3, 1, 2, 8, 8, 6, 40, 4, 2, 52, '20', 8, 1, 17, 8, 99, 10, 2020, None, 2, 2, 88, 88, 888, 8888, None, 999), (7, 1, 1, 1, 1, 15, 1, 1, 1, 15, 1, 'E117', '20D', 2, 4075, 12, 2, 2015, 9, 7, 2020, 16, 3, 1939, 11, 3, 5, 8, 8, 88, 9, 1, 3, 1, 1, 2, 8, 8, 20, 10, 4, 2, 52, '20', 8, 1, 20, 8, 99, 7, 2020, None, 9, 2, 88, 88, 888, 8888, None, 999)  ... displaying 10 of 1086743 total bound parameter sets ...  (1086741, 32, 24, 32, 24, 8, 1, 32, 17, 13, 1, 'U071', '06T', 2, 4081, 18, 12, 2020, 18, 12, 2020, 11, 6, 1939, 11, 3, 1, 8, 8, 88, 2, 1, 1, 3, 1, 1, 8, 8, 9, 6, 22, 1, 903, '06', 8, 1, 21, 8, 18, 12, 2020, None, 2, 2, 88, 88, 888, 8888, None, 999), (1086742, 32, 56, 32, 56, 13, 1, 32, 56, 13, 1, 'U071', '06T', 2, 4067, 23, 8, 2020, 23, 8, 2020, 15, 1, 1953, 99, 99, 3, 8, 8, 88, 9, 1, 3, 1, 1, 99, 8, 8, 7, 0, 22, 1, 903, '06', 8, 1, 18, 8, 23, 8, 2020, None, 9, 9, 88, 88, 888, 8888, None, 999))
2022-07-19 19:10:32,246 INFO sqlalchemy.engine.Engine COMMIT

1086743

In [18]:
sqlite_table = "broad_category"
broad_category.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:10:35,266 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("broad_category")
2022-07-19 19:10:35,267 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:35,269 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("broad_category")
2022-07-19 19:10:35,270 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:35,273 INFO sqlalchemy.engine.Engine
CREATE TABLE broad_category (
	"index" BIGINT,
	"CONSE" BIGINT,
	"CAP" BIGINT,
	"GPO" FLOAT,
	"DESCRIP" TEXT
)


2022-07-19 19:10:35,274 INFO sqlalchemy.engine.Engine [no key 0.00088s] ()
2022-07-19 19:10:35,281 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:35,282 INFO sqlalchemy.engine.Engine CREATE INDEX ix_broad_category_index ON broad_category ("index")
2022-07-19 19:10:35,283 INFO sqlalchemy.engine.Engine [no key 0.00095s] ()
2022-07-19 19:10:35,291 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:35,297 INFO sqlalchemy.engine.Engine INSERT INTO broad_category ("index", "CONSE", "CAP", "GPO", "DESCRIP") VALUES (?, ?, ?, ?, ?)
2022-07-19 19:10:35,298 INFO sqlalchemy.engine.Engine [generated in 0.00236s] ((0, 1, 1, None, 'Ciertas enfermedades infecciosas y parasitarias'), (1, 2, 1, 1.0, 'Enfermedades infecciosas intestinales (A00-A09)'), (2, 3, 1, 2.0, 'Tuberculosis  (A15-A19)'), (3, 4, 1, 3.0, 'Ciertas zoonosis bacterianas (A20-A28)'), (4, 5, 1, 4.0, 'Otras enfermedades bacterianas (A30-A49)'), (5, 6, 1, 5.0, 'Infecciones con modo de transmisión predominantemente sexual (A50-A64)'), (6, 7, 1, 6.0, 'Otras enfermedades debidas a espiroquetas (A65-A69)'), (7, 8, 1, 7.0, 'Otras enfermedades causadas por clamidias (A70-A74)')  ... displaying 10 of 250 total bound parameter sets ...  (248, 249, 20, 35.0, 'Factores suplementarios relacionados con causas de morbilidad y de mortalidad clasificadas  en otra parte (Y90-Y98)'), (249, 250, 22, 1.0, 'Asignación provisionaria de nuevas afecciones de etiología incierta o de uso emergente (U00-U49)'))
2022-07-19 19:10:35,302 INFO sqlalchemy.engine.Engine COMMIT

250

In [19]:
sqlite_table = "mortality_category"
mortality_cause.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:10:35,411 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("mortality_category")
2022-07-19 19:10:35,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:35,415 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("mortality_category")
2022-07-19 19:10:35,417 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:35,420 INFO sqlalchemy.engine.Engine
CREATE TABLE mortality_category (
	"index" BIGINT,
	"CVE" TEXT,
	"DESCRIP" TEXT
)


2022-07-19 19:10:35,422 INFO sqlalchemy.engine.Engine [no key 0.00143s] ()
2022-07-19 19:10:35,438 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:35,440 INFO sqlalchemy.engine.Engine CREATE INDEX ix_mortality_category_index ON mortality_category ("index")
2022-07-19 19:10:35,441 INFO sqlalchemy.engine.Engine [no key 0.00129s] ()
2022-07-19 19:10:35,449 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:35,476 INFO sqlalchemy.engine.Engine INSERT INTO mortality_category ("index", "CVE", "DESCRIP") VALUES (?, ?, ?)
2022-07-19 19:10:35,477 INFO sqlalchemy.engine.Engine [generated in 0.02062s] ((0, 'A010', 'Fiebre tifoidea'), (1, 'A012', 'Fiebre paratifoidea B'), (2, 'A020', 'Enteritis debida a Salmonella'), (3, 'A021', 'Sepsis debida a Salmonella'), (4, 'A029', 'Infección debida a Salmonella, no especificada'), (5, 'A040', 'Infección debida a Escherichia coli enteropatógena'), (6, 'A047', 'Enterocolitis debida a Clostridium difficile'), (7, 'A049', 'Infección intestinal bacteriana, no especificada')  ... displaying 10 of 3966 total bound parameter sets ...  (3964, 'Y883', 'Secuelas de procedimientos médicos y quirúrgicos como la causa de reacción anormal del paciente o de complicación posterior, sin mención de incidente en el momento de efectuar el procedimiento'), (3965, 'Y899', 'Secuelas de causa externa no especificada'))
2022-07-19 19:10:35,490 INFO sqlalchemy.engine.Engine COMMIT

3966

In [20]:
sqlite_table = "locality"
locality.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:10:35,609 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("locality")
2022-07-19 19:10:35,611 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:35,613 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("locality")
2022-07-19 19:10:35,613 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:35,617 INFO sqlalchemy.engine.Engine
CREATE TABLE locality (
	"index" BIGINT,
	"CVE_ENT" BIGINT,
	"CVE_MUN" BIGINT,
	"CVE_LOC" BIGINT,
	"NOM_LOC" TEXT
)


2022-07-19 19:10:35,618 INFO sqlalchemy.engine.Engine [no key 0.00176s] ()
2022-07-19 19:10:35,626 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:35,627 INFO sqlalchemy.engine.Engine CREATE INDEX ix_locality_index ON locality ("index")
2022-07-19 19:10:35,628 INFO sqlalchemy.engine.Engine [no key 0.00112s] ()
2022-07-19 19:10:35,636 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:35,788 INFO sqlalchemy.engine.Engine INSERT INTO locality ("index", "CVE_ENT", "CVE_MUN", "CVE_LOC", "NOM_LOC") VALUES (?, ?, ?, ?, ?)
2022-07-19 19:10:35,790 INFO sqlalchemy.engine.Engine [generated in 0.11817s] ((0, 1, 0, 0, 'Aguascalientes'), (1, 1, 1, 0, 'Aguascalientes'), (2, 1, 1, 1, 'Aguascalientes'), (3, 1, 1, 106, 'Arellano'), (4, 1, 1, 120, 'Buenavista de Peñuelas'), (5, 1, 1, 126, 'Cañada Honda [Estación]'), (6, 1, 1, 127, 'Los Caños'), (7, 1, 1, 138, 'Centro de Arriba (El Taray)')  ... displaying 10 of 30644 total bound parameter sets ...  (30642, 99, 999, 0, 'Municipio no especificado'), (30643, 99, 999, 9999, 'Localidad no especificada'))
2022-07-19 19:10:35,890 INFO sqlalchemy.engine.Engine COMMIT

30644

In [21]:
sqlite_table = "mex_causes"
mex_mortality_cause.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:10:36,004 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("mex_causes")
2022-07-19 19:10:36,005 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:36,007 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("mex_causes")
2022-07-19 19:10:36,009 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:36,013 INFO sqlalchemy.engine.Engine
CREATE TABLE mex_causes (
	"index" BIGINT,
	"CVE" BIGINT,
	"DESCRIP" TEXT
)


2022-07-19 19:10:36,014 INFO sqlalchemy.engine.Engine [no key 0.00098s] ()
2022-07-19 19:10:36,021 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:36,022 INFO sqlalchemy.engine.Engine CREATE INDEX ix_mex_causes_index ON mex_causes ("index")
2022-07-19 19:10:36,023 INFO sqlalchemy.engine.Engine [no key 0.00117s] ()
2022-07-19 19:10:36,030 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:36,035 INFO sqlalchemy.engine.Engine INSERT INTO mex_causes ("index", "CVE", "DESCRIP") VALUES (?, ?, ?)
2022-07-19 19:10:36,036 INFO sqlalchemy.engine.Engine [generated in 0.00204s] ((0, 1, '001 Ciertas  enfermedades infecciosas  y parasitarias'), (1, 2, '002 Cólera'), (2, 3, '003 Diarrea y gastroenteritis de presunto origen infeccioso'), (3, 4, '004 Otras enfermedades infecciosas intestinales'), (4, 5, '005 Tuberculosis respiratoria'), (5, 6, '006 Otras tuberculosis'), (6, 7, '007 Peste'), (7, 8, '008 Tétanos')  ... displaying 10 of 104 total bound parameter sets ...  (102, 103, '103 Todas las  demás causas externas'), (103, 902, '902 Enfermedad por el virus del Zika, sin especificación'))
2022-07-19 19:10:36,039 INFO sqlalchemy.engine.Engine COMMIT

104

In [22]:
sqlite_table = "mex_category"
mex_broad_category.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:10:36,147 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("mex_category")
2022-07-19 19:10:36,148 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:36,150 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("mex_category")
2022-07-19 19:10:36,151 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:10:36,154 INFO sqlalchemy.engine.Engine
CREATE TABLE mex_category (
	"index" BIGINT,
	"VALOR" TEXT,
	"DESCRIPCIO" TEXT
)


2022-07-19 19:10:36,155 INFO sqlalchemy.engine.Engine [no key 0.00115s] ()
2022-07-19 19:10:36,161 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:36,163 INFO sqlalchemy.engine.Engine CREATE INDEX ix_mex_category_index ON mex_category ("index")
2022-07-19 19:10:36,164 INFO sqlalchemy.engine.Engine [no key 0.00089s] ()
2022-07-19 19:10:36,170 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:10:36,173 INFO sqlalchemy.engine.Engine INSERT INTO mex_category ("index", "VALOR", "DESCRIPCIO") VALUES (?, ?, ?)
2022-07-19 19:10:36,174 INFO sqlalchemy.engine.Engine [generated in 0.00120s] ((0, '01', 'ENFERMEDADES INFECCIOSAS INTESTINALES'), (1, '02', 'TUBERCULOSIS'), (2, '03', 'OTRAS ENFERMEDADES BACTERIANAS'), (3, '04', 'INFECCIONES CON MODO DE TRANSMISION PREDOMINANTEMENTE SEXUAL'), (4, '05', 'OTRAS ENFERMEDADES INFECCIOSAS Y PARASITARIAS Y EFECTOS TARDIOS DE LAS ENFERMEDADES INFECCIOSAS Y PARASITARIAS'), (5, '06', 'ENFERMEDADES VIRICAS'), (6, '07', 'RICKETTSIOSIS Y OTRAS ENFERMEDADES DEBIDAS A PROTOZOARIOS'), (7, '08', 'TUMORES MALIGNOS DEL LABIO, DE LA CAVIDAD BUCAL Y DE LA FARINGE')  ... displaying 10 of 59 total bound parameter sets ...  (57, 'E58', 'CONTRATIEMPOS DURANTE LA ATENCION MEDICA, REACCIONES ANORMALES Y COMPLICACIONES ULTERIORES'), (58, 'E59', 'SECUELAS DE LESIONES AUTOINFLIGIDAS, AGRESIONES Y EVENTOS DE INTENCION NO DETERMINADA, DE ATENCION MEDICA Y QUIRURGICA Y DE'))
2022-07-19 19:10:36,177 INFO sqlalchemy.engine.Engine COMMIT

59

In [24]:
sqlite_table = "category_detail"
category_detail.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:11:09,167 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("category_detail")
2022-07-19 19:11:09,168 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:11:09,170 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("category_detail")
2022-07-19 19:11:09,171 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:11:09,174 INFO sqlalchemy.engine.Engine
CREATE TABLE category_detail (
	"index" BIGINT,
	"CVE" TEXT,
	"DESCRIP" TEXT
)


2022-07-19 19:11:09,174 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2022-07-19 19:11:09,184 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:11:09,186 INFO sqlalchemy.engine.Engine CREATE INDEX ix_category_detail_index ON category_detail ("index")
2022-07-19 19:11:09,188 INFO sqlalchemy.engine.Engine [no key 0.00163s] ()
2022-07-19 19:11:09,194 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:11:09,201 INFO sqlalchemy.engine.Engine INSERT INTO category_detail ("index", "CVE", "DESCRIP") VALUES (?, ?, ?)
2022-07-19 19:11:09,202 INFO sqlalchemy.engine.Engine [generated in 0.00290s] ((0, '01', 'Enfermedades infecciosas intestinales'), (1, '01A', 'Cólera'), (2, '01B', 'Fiebre tifoidea'), (3, '01C', 'Fiebre paratifoidea'), (4, '01D', 'Shigelosis'), (5, '01E', 'Intoxicación alimentaria'), (6, '01F', 'Amebiasis'), (7, '01G', 'Infecciones intestinales debidas a otros organismos especificados')  ... displaying 10 of 418 total bound parameter sets ...  (416, '58', 'Contratiempos durante la atención médica, reacciones anormales y complicaciones ulteriores'), (417, '59', 'Secuelas de lesiones autoinfligidas, agresiones y eventos de intención no determinada, de atención médica y quirúrgica y de otras causas externas'))
2022-07-19 19:11:09,207 INFO sqlalchemy.engine.Engine COMMIT

418

In [25]:
sqlite_table = "relationship"
relationship.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2022-07-19 19:11:17,582 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("relationship")
2022-07-19 19:11:17,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:11:17,586 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("relationship")
2022-07-19 19:11:17,587 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-07-19 19:11:17,590 INFO sqlalchemy.engine.Engine
CREATE TABLE relationship (
	"index" BIGINT,
	"CLAVE" BIGINT,
	"DESCRIP" TEXT
)


2022-07-19 19:11:17,592 INFO sqlalchemy.engine.Engine [no key 0.00194s] ()
2022-07-19 19:11:17,600 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:11:17,602 INFO sqlalchemy.engine.Engine CREATE INDEX ix_relationship_index ON relationship ("index")
2022-07-19 19:11:17,603 INFO sqlalchemy.engine.Engine [no key 0.00112s] ()
2022-07-19 19:11:17,610 INFO sqlalchemy.engine.Engine COMMIT
2022-07-19 19:11:17,614 INFO sqlalchemy.engine.Engine INSERT INTO relationship ("index", "CLAVE", "DESCRIP") VALUES (?, ?, ?)
2022-07-19 19:11:17,616 INFO sqlalchemy.engine.Engine [generated in 0.00167s] ((0, 1, 'Padre'), (1, 2, 'Madre'), (2, 3, 'Hermano'), (3, 4, 'Hermana'), (4, 5, 'Hijo'), (5, 6, 'Hija'), (6, 7, 'Abuelo'), (7, 8, 'Abuela')  ... displaying 10 of 74 total bound parameter sets ...  (72, 88, 'No aplica'), (73, 99, 'No especificado'))
2022-07-19 19:11:17,619 INFO sqlalchemy.engine.Engine COMMIT

74

In [26]:
import sqlite3

# Create a SQL connection to our SQLite database
con = sqlite3.connect("./Mortality_causes.sqlite")

cur = con.cursor()

In [33]:
inspector = inspect(engine)
inspector.get_table_names()

2022-07-19 19:28:22,933 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-07-19 19:28:22,934 INFO sqlalchemy.engine.Engine [raw sql] ()

['broad_category',
 'category_detail',
 'locality',
 'main',
 'mex_category',
 'mex_causes',
 'mortality_category',
 'relationship']

In [34]:
columns = inspector.get_columns('broad_category')
for column in columns:
    print(column["name"], column["type"])

2022-07-19 19:29:33,310 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("broad_category")
2022-07-19 19:29:33,311 INFO sqlalchemy.engine.Engine [raw sql] ()
index BIGINT
CONSE BIGINT
CAP BIGINT
GPO FLOAT
DESCRIP TEXT

In [35]:
columns = inspector.get_columns('main')
for column in columns:
    print(column["name"], column["type"])

2022-07-19 19:29:53,773 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("main")
2022-07-19 19:29:53,774 INFO sqlalchemy.engine.Engine [raw sql] ()
index BIGINT
ENT_REGIS BIGINT
MUN_REGIS BIGINT
ENT_RESID BIGINT
MUN_RESID BIGINT
TLOC_RESID BIGINT
LOC_RESID BIGINT
ENT_OCURR BIGINT
MUN_OCURR BIGINT
TLOC_OCURR BIGINT
LOC_OCURR BIGINT
CAUSA_DEF TEXT
LISTA_MEX TEXT
SEXO BIGINT
EDAD BIGINT
DIA_OCURR BIGINT
MES_OCURR BIGINT
ANIO_OCUR BIGINT
DIA_REGIS BIGINT
MES_REGIS BIGINT
ANIO_REGIS BIGINT
DIA_NACIM BIGINT
MES_NACIM BIGINT
ANIO_NACIM BIGINT
OCUPACION BIGINT
ESCOLARIDA BIGINT
EDO_CIVIL BIGINT
PRESUNTO BIGINT
OCURR_TRAB BIGINT
LUGAR_OCUR BIGINT
NECROPSIA BIGINT
ASIST_MEDI BIGINT
SITIO_OCUR BIGINT
COND_CERT BIGINT
NACIONALID BIGINT
DERECHOHAB BIGINT
EMBARAZO BIGINT
REL_EMBA BIGINT
HORAS BIGINT
MINUTOS BIGINT
CAPITULO BIGINT
GRUPO BIGINT
LISTA1 BIGINT
GR_LISMEX TEXT
VIO_FAMI BIGINT
AREA_UR BIGINT
EDAD_AGRU BIGINT
COMPLICARO BIGINT
DIA_CERT BIGINT
MES_CERT BIGINT
ANIO_CERT BIGINT
MATERNAS TEXT
LENGUA BIGINT
COND_ACT BIGINT
PAR_AGRE BIGINT
ENT_OCULES BIGINT
MUN_OCULES BIGINT
LOC_OCULES BIGINT
RAZON_M FLOAT
DIS_RE_OAX BIGINT